# dependencies
node_modules/
# env & secrets
.env
*.env
!.env.example
# build output
dist/
build/
# prisma
server/prisma/*.db
# logs & OS
*.log
.DS_Store

# uploads
server/uploads/*
!.gitkeep

# playwright test artifacts
test-results/
playwright-report/

#other files
*Lab_02_labsheet.pdf
*TokTickIT-System-Level-SDS-v1.0.pdf